@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Carrois Gothic SC', sans-serif;
    background-color: #040404;
}

/* MENU */

.menu_home{
    background-color: #040404;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 1px white solid;
}

.logo{
    display: flex;
    color: white;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
}

.menu_options {
    width: 900px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.menu_link{
    color: white;
    text-decoration: none;
}

/* CONTEÚDO DA PÁGINA */

.container_destino{
    background-color: #ffebb808;
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
}

.box_images{
    height: 100%;
    padding: 10px 80px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box_text{
    border-image: linear-gradient(transparent 10%, #F9A487 10% 90%, transparent 90%) 0 0 0 1 / 3px;
    color: white;
    width: 500px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:yellow; */
}

.title{
    color: white;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
    line-height: 25px;
}

.general_content{
    margin-bottom: 30px;
}

.general_information{
    font-size: 15px;
    text-decoration: underline rgba(255, 255, 0, 0.555) 0.5px;
}


/* FOOT DA PÁGINA */

.foot {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.lightsaber_right {
    position:fixed;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    margin-right: 20px;
}

.lightsaber_right img {
    display: block;
    height: 100px;
    width: 100px;
}

.plasma#vader {
    position: absolute;
    left: 80px;
    bottom: 43px;
    border-radius: 0 10px 10px 0;
    width: 0px;
    height: 10px;
    transition: 0.5s width;
}

.lightsaber_right img#vader:hover ~.plasma {
    width: 250px;
    background: #ff0000;
    box-shadow: 0px 0px 20px #ff0000;
}

.back{
    margin: 0 0 0 20px;
}

.lightsaber_left {
    position:fixed;
    bottom: 0;
    right: 0;
    margin-top: 100px;
    margin-left: 20px;
}

.lightsaber_left img {
    display: block;
    height: 100px;
    width: 100px;
}

.plasma#luke {
    position: absolute;
    right: 80px;
    bottom: 47px;
    border-radius: 10px 0 0 10px ;
    width: 0px;
    height: 10px;

    transition: 0.5s width;
}

.lightsaber_left img#luke:hover ~.plasma {
    width: 250px;
    background: #00FF00;
    box-shadow: 0px 0px 20px #00FF00;
}

.forward{
    margin: 0 20px 0 0;
}