@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');


.container_consultora {
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    font-family: 'Carrois Gothic SC', sans-serif;
    color: #feda4a;
    align-content: center;
    justify-content: center;
    background-color: #ffebb808
}

.consultora img {
    width: 80%;
    height: 80%;
    margin: 20px auto;
}

.consultora_text {
    width: 40%;
    display: block;
    align-items: center;
}

h2 {
    padding:30px;
}

p {
    padding: 10px;
}