@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #040404;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box_destination {
    position: relative;
    margin: 100px 20px 0 20px;    
}

.box_destination_text {
    color: white;
    font-family: 'Carrois Gothic SC', sans-serif;
    margin-bottom: 70px; 
    display: flex;
    justify-content: center;
}


.box_destination img {
    display: block;
    height: 200px;
    width: 120px;
}

.container_plasma {
    position: absolute;
    bottom: 200px;
    left: 50px;
    /* border-radius: 12px 12px 0 0; */
    width: 20px;
    height: 0px;

    transition: 0.5s height;
}

.box_destination img#europe:hover~.container_plasma {
    height: 70px;
    background: #d69577;
    box-shadow: 0px 0px 20px #d69577;
}

.box_destination img#america:hover~.container_plasma {
    height: 70px;
    background: #1e7e70;
    box-shadow: 0px 0px 20px #1e7e70;
}

.box_destination img#oriente:hover~.container_plasma {
    height: 70px;
    background:  #d04528;
    box-shadow: 0px 0px 20px #d04528;
}